@import "../../variables";

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: 2rem 2rem;
  place-content: center center;
}

@media screen and (min-width: 768px) and (max-width: 840px) {
  .section {
    width: 90%;
    margin-inline: auto;
    place-content: center center;
  }
}

@media screen and (min-width: 840px) {
  .section {
    width: 90%;
    place-content: center space-between;
    margin-inline: auto;
  }
}
